# filestore-pv-pvc.yaml
apiVersion: v1
kind: PersistentVolume
metadata:
  name: filestore-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    server: 10.29.49.18
    path: /filetraining
  mountOptions:
    - hard
    - nfsvers=3
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: training-pvc
  namespace: kubeflow
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""  # ← Để trống để bind với PV trên
  resources:
    requests:
      storage: 1Ti
  volumeName: filestore-pv  